footer {
    background-color: black;
    padding: 20px;
    text-align: center;
  
    .text {
      color: aliceblue;
    }
  
    div {
      max-width: 600px;
      margin: 0 auto;
  
      p {
        margin: 5px 0;
      }
  
      a {
        color: #007bff;
        text-decoration: none;
  
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }